@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  background: url(/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.border_bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.row_style {
  display: grid;
  grid-template-columns: 2rem 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}

#videoPlayer {
  position: fixed;
  width: 100%;
  min-height: 100dvh;
  object-fit: cover;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}


@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.heart-text {
  animation: heartbeat 1s infinite;
}